# Connect to your Supabase Postgres Database associated with the project
# You can find this in Supabase Dashboard -> Project Settings -> Database -> Connection String -> URI
# It should look like: postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres:password@db.ref.supabase.co:5432/postgres

# Port for the Node.js Server
PORT=3001
